
  .legend-container {
    display: inline-block;
    margin-left: 20%;
    position: relative;
    margin-left: 20%;
  }

  .legend-entry {
    display: inline-block;
    margin-left: 10px;
  }

  .label {
    color: black;
    line-height: 18px;
    font-family: Roboto;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }

  .label-value {
    font-size: 16px;
  }

  .label-title {
    font-size: 12px;
  }